html {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/star-wars-ships.appspot.com/o/background.jpg?alt=media&token=71faaf6d-040d-44c7-98e0-5235b66b22d3");
}
body {
  margin: 0;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/star-wars-ships.appspot.com/o/background.jpg?alt=media&token=71faaf6d-040d-44c7-98e0-5235b66b22d3");
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
